[submodule "external/tinyusb"]
	path = external/tinyusb
	url = git@github.com:hathach/tinyusb.git
[submodule "external/bluepad32"]
	path = external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32
[submodule "external/Pico-PIO-USB"]
	path = external/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB/
[submodule "external/FreeRTOS-Kernel"]
	path = external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
